@using Microsoft.AspNetCore.Http
@using WebBanSua.ModelViews
@model IEnumerable<WebBanSua.Models.DonHang>

@{
	WebBanSua.Models.CuaHangBanSuaContext _context = new WebBanSua.Models.CuaHangBanSuaContext();

	ViewData["Title"] = "Đơn Mua";
	Layout = "~/Views/Shared/_ProductLayout.cshtml";

    var ShowAdminDiv = ViewBag.ShowAdminDiv as string;

	int pageSize = 5;
	var tongDon = _context.DonHangs.Join(_context.KhachHangs, dh => dh.MaKh, kh => kh.MaKh, (dh, kh) => 
	new { maDh = dh.MaDh, tenKh = kh.TenKh, createDate = dh.NgayTao,tongTien =dh.TongTien,tTHuyDon=dh.TrangThaiHuyDon});
    var (ordersToDisplay, totalPages, currentPages) = PaginationHelper.GetPagedItems(tongDon, pageSize, Context);

}
<head>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/page-list.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>
	.badge-success {
    color: #fff;
    background-color: #28a745;
}
</style>
<body>

	<form>
		<div class="container p-0">
			<h1 class="h3 mb-3">Tài Khoản</h1>
			<div class="row">
				<div class="col-md-5 col-xl-4">

					<div class="card-profile">
						<div class="card-profile-header">
							<h5 class="card-title mb-0">Chỉnh Sửa Thông Tin</h5>
						</div>

						<div class="list-group list-group-flush" role="tablist">
							<a class="list-group-item list-group-item-action" asp-action="UserDashboard" asp-controller="Home" role="tab">
								<i class='bx bx-user'></i> Tài Khoản
							</a>
							<a class="list-group-item list-group-item-action" asp-action="ChangePassword" asp-controller="Home" role="tab">
								<i class='bx bx-lock-alt'></i> Mật Khẩu
							</a>
							<a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="DonHangs" role="tab">
								<i class='bx bx-shopping-bag'></i> Đơn Mua
							</a>
							<a class="list-group-item list-group-item-action active" asp-action="TongDon" asp-controller="DonHangs" role="tab">
								<i class='bx bx-home' ></i> Tổng Đơn Mua
							</a>
							<a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Admin" role="tab">
								<i class='bx bx-home' ></i> Admin
							</a>
							<a class="list-group-item list-group-item-action" asp-action="Logout" asp-controller="Home" role="tab">
								<i class='bx bx-log-out-circle'></i> Đăng xuất
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-7 col-xl-8">

					<div class="rounded">
						<div class="table-responsive table-borderless">
							<table class="table">
								<thead>
									<tr>
										<th>Mã ĐH</th>
										<th>Họ Tên</th>
										<th>Hình Thức TT</th>
										<th>Tổng Tiền</th>
										<th>Ngày Tạo</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in ordersToDisplay)
									{
										<tr class="cell-1">
											<td>@item.maDh</td>
											<td>@item.tenKh</td>
											@if(!item.tTHuyDon)
											{
												<td><span class="badge badge-success">COD - Thanh Toán Khi Nhận</span></td>
											}else{
												<td><span class="badge badge-warning">COD - Thanh Toán Khi Nhận</span></td>
											}
											<td>@item.tongTien.ToString("#,##0") VNĐ</td>
											<td>@item.createDate.ToString("dd/MM/yyyy")</td>
											<td class="align-middle">
												<a asp-action="Details" asp-route-id="@item.maDh" class="btn btn-primary" style="font-size:12px;">Xem</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						<section class="panel">
						<div class="panel-body">
							<div class="pull-right">
								<ul class="pagination pagination-sm pro-page-list">
									<li><a href="?page=1">«</a></li>
									@for (int i = 1; i <= (int)Math.Ceiling((double)Model.Count() / pageSize); i++)
									{
										<li class="@(i == currentPages ? "active" : "")"><a href="?page=@i">@i</a></li>
									}
									<li><a href="?page=@((int)Math.Ceiling((double)Model.Count() / pageSize))">»</a></li>
								</ul>
							</div>
						</div>
					</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
	<style type="text/css">
		::-webkit-scrollbar {
			width: 8px;
		}
		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

		.cell-1 {
			border-collapse: separate;
			border-spacing: 0 4em;
			background: #fff;
			border-bottom: 5px solid transparent;
			background-clip: padding-box;
		}

		tbody,
		thead {
			text-align: center;
			background: #fff;
		}

		.toggle-btn {
			width: 40px;
			height: 21px;
			background: grey;
			border-radius: 50px;
			padding: 3px;
			cursor: pointer;
			-webkit-transition: all 0.3s 0.1s ease-in-out;
			-moz-transition: all 0.3s 0.1s ease-in-out;
			-o-transition: all 0.3s 0.1s ease-in-out;
			transition: all 0.3s 0.1s ease-in-out;
		}

			.toggle-btn > .inner-circle {
				width: 15px;
				height: 15px;
				background: #fff;
				border-radius: 50%;
				-webkit-transition: all 0.3s 0.1s ease-in-out;
				-moz-transition: all 0.3s 0.1s ease-in-out;
				-o-transition: all 0.3s 0.1s ease-in-out;
				transition: all 0.3s 0.1s ease-in-out;
			}

			.toggle-btn.active {
				background: blue !important;
			}

				.toggle-btn.active > .inner-circle {
					margin-left: 19px;
				}

		body {
			margin-top: 20px;
		}

		.card-profile {
			margin-bottom: 1.5rem;
			box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
		}

		.card-profile {
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			min-width: 0;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 1px solid #e5e9f2;
			border-radius: .2rem;
		}

		.card-header:first-child {
			border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
		}

		.card-profile-header {
			border-bottom-width: 1px;
		}

		.card-profile-header {
			padding: .75rem 1.25rem;
			margin-bottom: 0;
			color: inherit;
			background-color: #fff;
			border-bottom: 1px solid #e5e9f2;
		}

		#GioiTinh {
			border: 1px solid #d2d6da;
			border-radius: 14px;
			margin-top: 30px;
			background-color: #fff;
			padding: 6px;
		}
	</style>

	<script type="text/javascript">
	</script>
	<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
	<script type='text/javascript'>
		$(document).ready(function(){

		$('.toggle-btn').click(function() {
		$(this).toggleClass('active').siblings().removeClass('active');
		});
		});</script>
	<script type='text/javascript'>
		var myLink = document.querySelector('a[href="#"]');
										myLink.addEventListener('click', function(e) {
										  e.preventDefault();
										});</script>
